@using Shop.Web.Controllers
@{
    ProductController productCtrl = new ProductController();
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/list-products.css" rel="stylesheet" type="text/css" />
</head>

<main>
    <aside>
        <nav>
            <header>Most popular products</header>
            <ul>
                @foreach (var product in productCtrl.GetTop3Products())
            {
                    <li class="product-title">@Html.ActionLink(@product.Title, "Details", "Product", new { id = product.Id }, null)</li>
                }
            </ul>
        </nav>
    </aside>
    <section class="product-container ">
        <ul class="main-product-view">
            @{ Html.RenderPartial("Products"); }
        </ul>
        <div class="main-product-bar"></div>
    </section>
</main>