@model Shop.Models.ApplicationUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProfilePageView</title>
</head>
<body>
    <div> 
        <p>@Model.FirstName</p>
        <p>@Model.LastName</p>
        <p>@Model.Email</p>
        <p>@Model.ProfilePicture</p>

    </div>
</body>
</html>
