@{
    ViewBag.Title = "Home Page";
}

<div class="image-wrapper" style="display: flex; background-color: #51ccda;">
    <img src="../../images/home-background.png" class="home-background-img" style="margin: 10px auto; height: 100vh"/>
</div>

