@model Shop.Web.ViewModels.Admin.ManageUserViewModel
@{
    ViewBag.Title = "Manage User Page";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    @if (Model.ProfilePicture == null)
    {
        <img src="../../Content/default-pic.png" />
    }
    else
    {
        <img src="data:image;base64,@System.Convert.ToBase64String(Model.ProfilePicture)" />
    }
    <h4>Manage User Settings</h4>
    <hr />
    <dl class="dl-horizontal">
       
       
    </dl>
</div>
