body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
}

.ask-question {
    margin-top: 70px;
}

.product {
    width: 70%;
    border: 2px solid #333333;
    border-radius: 10px;
    padding: 20px;
    margin: auto auto 20px;
}

.product-img {
    max-width: 40%;
    height: auto;
}

.product-info {
    margin-top: 10px;
    text-align: left;
    background-color: #ebebeb;
    padding: 5px 20px;
}
