
.reg-item {
    margin-bottom: 10px;
}
.image-wrapper {
    display: flex;
    float: left;
    width: 150px; 
    height: 150px; 
    overflow: hidden;
    border: 1px dashed #808080;
    border-radius: 10px;

}
#file {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}